<div class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Song Database</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">Error: API key required. User permissions must be Viewer or higher.</h2>
    </div>
  </div>
</div>